<div class="area-login-background d-none d-md-block"></div>

 <div class="area-form">
    <form>
        <h1 class="titulo">CRUD-USERS</h1>
        <h2 class="subtitulo">Mais Eficiencia no controle de users</h2>
        <input [(ngModel)]="userName" [ngModelOptions]="{standalone:true}" class="input-form" type="text" placeholder="Digite Seu Nome" >
        <app-button text="Acessar" size="100" (click)="login()"></app-button>
    </form>
    <footer>
        <p class="footer">© 2025 - Feito por Caio Victor</p>
    </footer>

    </div>