<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="card-info">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h1 class="title">CRU-USERS</h1>
                        <h3 class="subtitulo">
                            Mais eficiencia na gestão de <span>usuários</span> e de seus beneficios. Chega de sistemas antigos e sem usabilidade, agora com o 
                            <span>Crud users</span> seu trabalho fica até 3x mais rápido e simplificado.
                            Confira um resumo das informações do nosso <span>Dashboard</span>
                            <button routerLink="./usuarios" class="botao-primario"></button>
                            <app-button textButton="Iniciar" routerLink="./usuarios" ></app-button>
                            <div class="col-12 col-md-4">
                                <img src="../../../assets/dashboard.png" width="100%">
                            </div>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de users no sistema</p>
                                <p class="numero-card">79</p>
                                <p class="destaque-card">+5 Adicionados no ultimo mês</p>
                            </div>

                            <div class="col-4">
                                <p class="info-spinner">
                                    <mat-progress-spinner class="examples-margin max-auto color-spinner" mode="determinate" value="79"></mat-progress-spinner>
                                    79/150
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Toal de beneficios cadastrados</p>
                                <p class="numero-card">4</p>
                                <p class="destaque-card">+2 Adicionados no ultimo mês</p>
                            </div>

                            <div class="col-4">
                                <p class="info-spinner">
                                    <mat-progress-spinner class="examples-margin max-auto color-spinner" mode="determinate" value="80"></mat-progress-spinner>
                                    4/5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <p>teste</p>
                </div>
                
            </div>
        </div>
    </div>
</div>